In [1]:
import pandas as pd
import sqlalchemy as alch
from pathlib import Path
import matplotlib
import os
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
ROOT_DIR = Path(os.path.abspath(os.path.curdir)).parent
print(ROOT_DIR)

/home/tlsabara/Git/succotash

In [4]:
src_data = ROOT_DIR / 'idesp_collector' / 'arquivo_scrap.csv'

In [5]:
df = pd.read_csv(src_data)

/tmp/ipykernel_767/196715292.py:1: DtypeWarning: Columns (10,11,12,13,14,15,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(src_data)

In [6]:
df.head()

,error_id,request_data,_REGICAO_NOME,_ANO,_DIRETORIA_ID,_MUNICIPIO_ID,_ESCOLA_ID,_ERROR_ID,_ERROR_INFOS,CODIGOCIE,...,DIRETORIA,MUNICIPIO,SERIE,IDPort,IDMat,IndDesemp,IndFluxo,IDESP,META,ORDEM
0,1.0,"{'escola': '040265', 'escola_nome': 'SANTA+RIT...",INTERIOR,2012,21101,448,40265,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,"{'escola': '034265', 'escola_nome': 'HOMERO+CA...",INTERIOR,2012,21004,652,34265,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,"{'escola': '035269', 'escola_nome': 'SYLAS+BAL...",INTERIOR,2012,21101,448,35269,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,"{'escola': '904223', 'escola_nome': 'ZILDA+COM...",INTERIOR,2012,21004,612,904223,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,"{'escola': '911884', 'escola_nome': 'MARIA+JOS...",INTERIOR,2012,21101,448,911884,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_erros = df[['error_id', 'request_data']]
df = df.drop(['error_id', 'request_data', '_ERROR_ID', '_ERROR_INFOS'], axis=1)

In [8]:
df.head()

,_REGICAO_NOME,_ANO,_DIRETORIA_ID,_MUNICIPIO_ID,_ESCOLA_ID,CODIGOCIE,ESCOLA,DIRETORIA,MUNICIPIO,SERIE,IDPort,IDMat,IndDesemp,IndFluxo,IDESP,META,ORDEM
0,INTERIOR,2012,21101,448,40265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INTERIOR,2012,21004,652,34265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,INTERIOR,2012,21101,448,35269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTERIOR,2012,21004,612,904223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INTERIOR,2012,21101,448,911884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.isna().mean()

_REGICAO_NOME    0.000000
_ANO             0.000000
_DIRETORIA_ID    0.000000
_MUNICIPIO_ID    0.000000
_ESCOLA_ID       0.000000
CODIGOCIE        0.688024
ESCOLA           0.688024
DIRETORIA        0.688024
MUNICIPIO        0.688024
SERIE            0.688024
IDPort           0.688024
IDMat            0.688024
IndDesemp        0.688024
IndFluxo         0.688024
IDESP            0.688024
META             0.843213
ORDEM            0.688024
dtype: float64

# 68% das escolas sem dados

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55719 entries, 0 to 55718
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _REGICAO_NOME  55719 non-null  object
 1   _ANO           55719 non-null  int64
 2   _DIRETORIA_ID  55719 non-null  int64
 3   _MUNICIPIO_ID  55719 non-null  int64
 4   _ESCOLA_ID     55719 non-null  int64
 5   CODIGOCIE      17383 non-null  float64
 6   ESCOLA         17383 non-null  object
 7   DIRETORIA      17383 non-null  object
 8   MUNICIPIO      17383 non-null  object
 9   SERIE          17383 non-null  object
 10  IDPort         17383 non-null  object
 11  IDMat          17383 non-null  object
 12  IndDesemp      17383 non-null  object
 13  IndFluxo       17383 non-null  object
 14  IDESP          17383 non-null  object
 15  META           8736 non-null   object
 16  ORDEM          17383 non-null  float64
dtypes: float64(2), int64(4), object(11)
memory usage: 7.2+ MB

In [11]:
# NaN Replacement

df.fillna(0, inplace=True)
df.head()

,_REGICAO_NOME,_ANO,_DIRETORIA_ID,_MUNICIPIO_ID,_ESCOLA_ID,CODIGOCIE,ESCOLA,DIRETORIA,MUNICIPIO,SERIE,IDPort,IDMat,IndDesemp,IndFluxo,IDESP,META,ORDEM
0,INTERIOR,2012,21101,448,40265,0.0,0,0,0,0,0,0,0,0,0,0,0.0
1,INTERIOR,2012,21004,652,34265,0.0,0,0,0,0,0,0,0,0,0,0,0.0
2,INTERIOR,2012,21101,448,35269,0.0,0,0,0,0,0,0,0,0,0,0,0.0
3,INTERIOR,2012,21004,612,904223,0.0,0,0,0,0,0,0,0,0,0,0,0.0
4,INTERIOR,2012,21101,448,911884,0.0,0,0,0,0,0,0,0,0,0,0,0.0

In [12]:
df.columns

Index(['_REGICAO_NOME', '_ANO', '_DIRETORIA_ID', '_MUNICIPIO_ID', '_ESCOLA_ID',
       'CODIGOCIE', 'ESCOLA', 'DIRETORIA', 'MUNICIPIO', 'SERIE', 'IDPort',
       'IDMat', 'IndDesemp', 'IndFluxo', 'IDESP', 'META', 'ORDEM'],
      dtype='object')

In [13]:
# Correct columns types

cl = ['IDPort', 'IDMat', 'IndDesemp', 'IndFluxo', 'IDESP', 'META']

for i in cl:
    df[i] = df[i].apply(lambda x: str(x).replace(',', '.'))

df.IDMat = df['IDMat'].astype('float64')
df.IDPort = df['IDPort'].astype('float64')
df.IndDesemp = df['IndDesemp'].astype('float64')
df.IndFluxo = df['IndFluxo'].astype('float64')
df.META = df['IDMat'].astype('float64')

In [14]:
df.head()

,_REGICAO_NOME,_ANO,_DIRETORIA_ID,_MUNICIPIO_ID,_ESCOLA_ID,CODIGOCIE,ESCOLA,DIRETORIA,MUNICIPIO,SERIE,IDPort,IDMat,IndDesemp,IndFluxo,IDESP,META,ORDEM
0,INTERIOR,2012,21101,448,40265,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0
1,INTERIOR,2012,21004,652,34265,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0
2,INTERIOR,2012,21101,448,35269,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0
3,INTERIOR,2012,21004,612,904223,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0
4,INTERIOR,2012,21101,448,911884,0.0,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,0.0

In [ ]:
sns.pairplot(data=df)